#################################################
# APPLICATION
#################################################

APP_NAME=your-app-name
SERVER_PORT=8080
CORS_ALLOWED_ORIGINS=http://localhost:3000

#################################################
# DATABASE
#################################################

DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres

DB_ADMIN_USERNAME=postgres
DB_ADMIN_PASSWORD=change-me

DB_USERNAME=app_user
DB_PASSWORD=change-me

MIGRATION_DB_USERNAME=migration_user
MIGRATION_DB_PASSWORD=change-me

#################################################
# REDIS
#################################################

REDIS_HOST=localhost
REDIS_PORT=6379