#################################################
# APPLICATION
#################################################

APP_NAME=your-app-name
SERVER_PORT=8080

#################################################
# DATABASE
#################################################

DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres

#################################################
# REDIS
#################################################

REDIS_HOST=localhost
REDIS_PORT=6379